<div>
  <h2 ng-model="playerInfoController.player"> {{playerInfoController.player.currentRoom.roomName}}</h2>
  <!-- <h2 ng-model="playerInfoController.message"> {{playerInfoController.message}}</h2>
  <h2> you have the {{playerInfoController.weapon}} to defeat him with!</h2> -->

  <h3 ng-model="playerInfoController.player">you have the {{playerInfoController.player.currentRoom.weapon}} to defeat him with! GO FOR IT!</h3>
  <h3 ng-model="playerInfoController.player">{{playerInfoController.player.currentRoom.message}}</h3>
</div>
